<%- include("_header") %>
                        <!-- Dashboard Right -->
                        <div class="dashboard__right">
                            <!-- Dashboard Body-->
                            <div class="dashboard-body">
                                <div class="d-flex mb-2 gap-3">
                                    <a class="btn btn--primary btn--md" type="button" href="/user/deposit" style="background:#EB4964 !important; color:white !important; border-radius:5px;"> <i class="las la-wallet"></i> Fund Wallet</a>
                                    <a class="btn btn--primary btn--md" type="button" href="https://www.slab.ng/user/order/overview" style="background:#1F514C !important; color:white !important; border-radius:5px;"> <i class="lab la-instagram" ></i> New Order</a>
                                </div>
                                <!-- Dashboard Card -->
                                <div class="row g-3 justify-content-center">
                                    <div class="col-12">
                                        <div class="row gy-3 justify-content-center dashboard-widget-wrapper">
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/transactions">
                                                    <span class="dashboard-widget__icon flex-center"> <i class="la la-wallet f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Balance</span>
                                                        <h4 class="dashboard-widget__number"><%= walletBalance %></h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/transactions">
                                                    <span class="dashboard-widget__icon flex-center"><i class="la la-exchange-alt f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Transactions</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/history">
                                                    <span class="dashboard-widget__icon flex-center"><i class="la la-shopping-cart f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Total Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/pending">
                                                    <span class="dashboard-widget__icon flex-center"> <i class="la la-spinner f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Pending Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/processing">
                                                    <span class="dashboard-widget__icon flex-center"> <i class="la la-refresh f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Processing Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/completed">
                                                    <span class="dashboard-widget__icon flex-center"><i class="la la-check-circle f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Completed Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/refunded">
                                                    <span class="dashboard-widget__icon flex-center"> <i class="la la-fast-backward f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Refund Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-xsm-6">
                                                <a class="dashboard-widget flex-align" href="https://www.slab.ng/user/order/cancelled">
                                                    <span class="dashboard-widget__icon flex-center"> <i class="la la-times-circle f-size--56"></i></span>
                                                    <div class="dashboard-widget__content">
                                                        <span class="dashboard-widget__text">Cancelled Order</span>
                                                        <h4 class="dashboard-widget__number">0</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Dashboard Table -->
                                <div class="dashboard-table mt-5">
                                    <h5 class="dashboard-section-title">Latest Orders</h5>
                                    <span class="empty-slip-message">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <img src="/asset/assets/templates/trendy//images/empty_list.png" alt="image">
                                        </span>
                                        Latest order not found!
                                    </span>
                                </div>

                                <!-- Dashboard Accordion Table -->
                                <div class="dashboard-accordion-table mt-5">
                                    <h5 class="dashboard-section-title">Best Selling Services</h5>
                                    <div class="accordion table--acordion" id="transactionAccordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h-0">
                                                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#c-4" type="button" aria-expanded="false" aria-controls="c-1">
                                                    <div class="col-xl-8 col-sm-8 col-8 order-1">
                                                        <div class="left">
                                                            <div class="icon base">
                                                                <i class="las la-cart-plus"></i>
                                                            </div>
                                                            <div class="content">
                                                                <h6 class="title mb-0">Instagram Followers [SLOW]</h6>
                                                                <span class="date-time">2021-10-23 10:50 PM</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-4 order-sm-3 order-2 text-end amount-wrapper">
                                                        <p class="amount" title="Total Ordered">14191</p>
                                                    </div>
                                                </button>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                        <!-- Repeat similar structure for other accordion items -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<%- include("_footer"); %>