<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Lizosavs is a comprehensive social media marketing tool offering services for all major platforms. From likes and followers to views and website traffic, Lizosavs provides everything you need to grow your business at affordable prices.">
    <meta name="keywords" content="lizosavs, best smm panel, cheapest smm panel, social media marketing, smm reseller panel, smm panel script, facebook followers, instagram likes, youtube subscribers, seo services, social media growth, smm services, online marketing, digital marketing tools">
    <link rel="shortcut icon" href="https://lizosavs.com/assets/uploads/logo/favicon.png" type="image/x-icon">

    <link rel="apple-touch-icon" href="https://lizosavs.com/assets/uploads/logo/logo.png">
    <title>Lizo Savs | Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://lizosavs.com/assets/uploads/logo/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Lizo Savs | Dashboard">

    <meta itemprop="name" content="Lizo Savs | Dashboard">
    <meta itemprop="description" content="Lizosavs is a comprehensive social media marketing tool offering services for all major platforms. From likes and followers to views and website traffic, Lizosavs provides everything you need to grow your business at affordable prices.">
    <meta itemprop="image" content="https://lizosavs.com/assets/uploads/logo/meta.png600x315">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Lizosavs Your All-in-One Social Media Marketing Solution">
    <meta property="og:description" content="Lizosavs is a powerful online tool for social media marketing, offering a wide range of services for every major platform. Whether you need likes, followers, views, or increased engagement and website traffic, Lizosavs delivers it all at budget-friendly prices. It&#039;s your versatile solution for growing your social media presence efficiently and affordably">
    <meta property="og:image" content="https://lizosavs.com/assets/uploads/logo/meta.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:url" content="https://lizosavs.com/user/dashboard">

    <meta name="twitter:card" content="summary_large_image">

    <link href="https://lizosavs.com/assets/themes/user/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://lizosavs.com/assets/themes/user/css/color.php?primaryColor=c64fff&subheading=7b3fff&bggrdleft=7b3fff&bggrdright=5900ff&bggrdleft2=c64fff&btngrdleft=c64fff&copyrights=1d43db">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full" class="mini-sidebar ">

    <div class="headerNav py-3">
        <div class="container-fluid px-md-5 ">
            <nav class="navbar navbar-expand-xl navbar-light  mx-lg-5" id="boltd">
                <a class="navbar-brand" href="https://lizosavs.com">
                    <img src="https://lizosavs.com/assets/uploads/logo/logo.png" alt="homepage"
                         class="dark-logo" />
                </a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto  align-items-end align-items-sm-center">
                        <li class="nav-item">
                            <a class="nav-link active"
                               href="https://lizosavs.com/user/dashboard">Dashboard </a>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Order <i data-feather="chevron-down" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item " href="https://lizosavs.com/user/order/create">New Order</a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/mass/orders">Mass Order</a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/order">All Order</a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/orders-refill">Refill Order</a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/orders-dripfeed">Drip Feed</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link "
                               href="https://lizosavs.com/user/services">Services </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link "
                               href="https://lizosavs.com/user/add-fund">Add Fund</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link "
                               href="https://lizosavs.com/user/fund-history">Fund History</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link "
                               href="https://lizosavs.com/user/transaction">Transactions </a>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownUser"
                               role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <img src="https://lizosavs.com/assets/images/default.png"
                                     alt="" class="rounded-circle" width="40px">
                                <span><%= user.firstname %></span>
                                <i data-feather="chevron-down" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                <a class="dropdown-item " href="https://lizosavs.com/user/profile">
                                    <i data-feather="user" class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>

                                <a class="dropdown-item " href="https://lizosavs.com/user/referral">
                                    <i data-feather="users" class="svg-icon mr-2 ml-1"></i>
                                    My Referral</a>

                                <a class="dropdown-item " href="https://lizosavs.com/user/referral-bonus">
                                    <i data-feather="list" class="svg-icon mr-2 ml-1"></i>
                                    Referral Bonus</a>

                                <a class="dropdown-item " href="https://lizosavs.com/user/api/docs">
                                    <i data-feather="key" class="svg-icon mr-2 ml-1"></i> API Setting </a>

                                <a class="dropdown-item " href="https://lizosavs.com/user/ticket/create">
                                    <i class="fab fa-hire-a-helper mr-2 ml-1 icon-color"></i>Open Ticket </a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/ticket">
                                    <i class="fas fa-ticket-alt mr-2 ml-1 icon-color"></i> Show Ticket </a>
                                <a class="dropdown-item " href="https://lizosavs.com/user/twostep-security">
                                    <i class="fas fa-lock mr-2 ml-1 icon-color"></i> 2FA Security </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://lizosavs.com/logout"
                                   onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"><i
                                        data-feather="power" class="svg-icon mr-2 ml-1"></i>
                                    Logout
                                </a>
                                <form id="logout-form" action="https://lizosavs.com/logout" method="POST" class="d-none">
                                    <input type="hidden" name="_token" value="dYnfhjeuE8SAEZ5Wl4IsTppJBVP2aUeeIMLBOzJ9"> </form>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Notification -->
                <div class="push-notification dropdown" id="pushNotificationArea">
                    <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                       id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span><i class="far fa-bell bell-font"></i></span>
                        <span class="badge badge-primary notify-no rounded-circle" v-cloak>{{ items.length }}</span>
                    </a>

                    <div class="right-dropdown dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                        <ul class="list-style-none">
                            <li>
                                <div class="scrollable message-center notifications position-relative">
                                    <!-- Message -->
                                    <a v-for="(item, index) in items"
                                       @click.prevent="readAt(item.id, item.description.link)"
                                       href="javascript:void(0)"
                                       class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                        <span class="btn btn-success text-white rounded-circle btn-circle">
                                            <i :class="item.description.icon" class="text-white"></i>
                                        </span>

                                        <div class="d-inline-block v-middle pl-2">
                                            <span class="font-12 d-block text-muted" v-cloak v-html="item.description.text"></span>
                                            <span class="font-12 d-block text-muted text-truncate" v-cloak>{{ item.formatted_date }}</span>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <a class="nav-link pt-3 text-center text-dark notification-clear-btn" href="javascript:void(0);"
                                   v-if="items.length > 0" @click.prevent="readAll">
                                    <strong>Clear all</strong>
                                </a>
                                <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);"
                                   v-else>
                                    <strong>No Data found</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Notification -->

                <div class="push-notification">
                    <a onclick="darkMode()" class="nav-link dropdown-toggle pl-md-3 cursor-pointer"
                       aria-expanded="false">
                        <span><i class="far fa-moon bell-font"></i></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="fixed-icon rfixedicon">
        <i class="fa fa-envelope-open"></i>
    </div>

    <div class="fixedsidebar rfixed">
        <div class="fs-header d-flex align-items-center justify-content-between">
            <h5 class="text-white">What's new on Lizo Savs</h5>
            <div class="btn-close close-sidebar">&times;</div>
        </div>
        <div class="fs-wrapper">
        </div>
    </div>

    <div class="page-wrapper d-block">
        <div class="container">
            <div>
                <ol class="breadcrumb center-items">
                    <li><a href="https://lizosavs.com/user/dashboard">Home</a></li>
                    <li class="active"> Dashboard</li>
                </ol>
            </div>

            <div class="row my-4 admin-fa_icon">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow ">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium"><sup class="set-doller">#</sup><%= user.balance %></h2>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Your Balance</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fa fa-suitcase fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">0</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Transaction</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fas fa-exchange-alt fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium"><sup class="set-doller">#</sup>0</h2>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Deposit</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fas fa-money-bill-alt fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">0</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Tickets</h6>
                                </div>

                                <div class="mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fas fa-ticket-alt fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">0</h2>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Orders</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fab fa-first-order fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">0</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Processing Orders</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fab fa-first-order fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">0</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Pending Orders</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fas fa-spinner fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center justify-content-between">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">0</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Completed Orders</h6>
                                </div>

                                <div class=" mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i class="fas fa-check fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body ">
                            <h4 class="card-title">Latest Transaction</h4>

                            <div class="table-responsive">
                                <table class="table  table-hover table-striped " id="service-table">
                                    <thead class="ca">
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Amount</th>
                                        <th>Remarks</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center text-muted">
        <p>Copyright © 2025 Lizo Savs. All Rights Reserved</p>
    </footer>
</div>

<script src="https://lizosavs.com/assets/global/js/jquery.min.js"></script>
<script src="https://lizosavs.com/assets/global/js/popper.min.js"></script>
<script src="https://lizosavs.com/assets/global/js/bootstrap.min.js"></script>
<script src="https://lizosavs.com/assets/admin/js/app-style-switcher.js"></script>
<script src="https://lizosavs.com/assets/admin/js/feather.min.js"></script>
<script src="https://lizosavs.com/assets/global/js/notiflix-aio-2.7.0.min.js"></script>
<script src="https://lizosavs.com/assets/admin/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://lizosavs.com/assets/admin/js/sidebarmenu.js"></script>
<script src="https://lizosavs.com/assets/global/js/select2.min.js"></script>
<script src="https://lizosavs.com/assets/admin/js/admin-mart.js"></script>
<script src="https://lizosavs.com/assets/admin/js/custom.js"></script>

<script src="https://lizosavs.com/assets/global/js/axios.min.js"></script>
<script src="https://lizosavs.com/assets/global/js/vue.min.js"></script>
<script src="https://lizosavs.com/assets/global/js/pusher.min.js"></script>

<script>
    "use strict";
    if(!localStorage.sidenote || localStorage.sidenote == 'true'){
        $('.fixed-icon').removeClass('rfixedicon');
        $('.fixedsidebar').removeClass('rfixed');
    }

    $(document).on('click', '.close-sidebar',function () {
        $('.fixed-icon').addClass('rfixedicon');
        $('.fixedsidebar').addClass('rfixed');
        localStorage.setItem("sidenote", false);
    });

    $(document).on('click', '.fixed-icon', function () {
        $('.fixed-icon').toggleClass('rfixedicon');
        $('.fixedsidebar').toggleClass('rfixed');

        if (typeof(Storage) !== "undefined") {
            if(localStorage.sidenote == 'true'){
                localStorage.setItem("sidenote", false);
            }else{
                localStorage.setItem("sidenote", true);
            }
        }
    });

    const darkMode = () => {
        var $theme =document.body.classList.toggle("dark-mode");

        $.ajax({
            url: "https://lizosavs.com/themeMode/"+$theme,
            type: 'get',
            success: function(response){
            }
        });
    };
</script>

<script>
    'use strict';
    let pushNotificationArea = new Vue({
        el: "#pushNotificationArea",
        data: {
            items: [],
        },
        mounted() {
            this.getNotifications();
            this.pushNewItem();
        },
        methods: {
            getNotifications() {
                let app = this;
                axios.get("https://lizosavs.com/user/push-notification-show")
                    .then(function (res) {
                        app.items = res.data;
                    })
            },
            readAt(id, link) {
                let app = this;
                let url = "https://lizosavs.com/user/push-notification-readAt/0";
                url = url.replace(/.$/, id);
                axios.get(url)
                    .then(function (res) {
                        if (res.status){
                            app.getNotifications();
                            if (link != '#') {
                                window.location.href = link
                            }
                        }
                    })
            },
            readAll() {
                let app = this;
                let url = "https://lizosavs.com/user/push.notification.readAll";
                axios.get(url)
                    .then(function (res) {
                        if (res.status){
                            app.items = [];
                        }
                    })
            },
            pushNewItem(){
                let app = this;
                // Pusher.logToConsole = true;
                let pusher = new Pusher("c5b8025f23262eedd968", {
                    encrypted: true,
                    cluster: "ap2"
                });
                let channel = pusher.subscribe('user-notification.' + "18");
                channel.bind('App\\Events\\UserNotification', function (data) {
                    app.items.unshift(data.message);
                });
                channel.bind('App\\Events\\UpdateUserNotification', function (data) {
                    app.getNotifications();
                });
            }
        }
    });
</script>
</body>
</html>