<footer class="footer-area">
    <div class="container">
        <div class="main-footer">
            <div class="row">
                <div class="col-lg-6 order-1">
                    <div class="footer-item footer-content">
                        <div class="footer-item__logo">
                            <a href="/" class="fs-1">
                                emboost
                            </a>
                        </div>
                        <p class="footer-item__desc">
                            Join our newsletter to stay up to date on features and releases.
                        </p>
                        <form class="email-form flex-align call-to-action-form">
                            <input required class="form--control" id="email" name="email" type="email" placeholder="Enter your email" />
                            <button class="btn btn--base" type="submit"> Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 order-3">
                    <div class="footer-item">
                        <h6 class="footer-item__title">Quick Link</h6>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="/about">About</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="/contact">Contact</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="/services">Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-md-3 col-6 col-xsm-6 order-4">
                    <div class="footer-item">
                        <h6 class="footer-item__title">Privacy and Terms</h6>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="policy/privacy-and-policy.html" target="_blank"> Privacy and Policy </a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="policy/terms-and--condition.html" target="_blank"> Terms and  Condition </a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="policy/support-policy.html" target="_blank"> Support Policy </a>
                            </li>
                        </ul>
                    </div>
                </div> -->

                <!-- <div class="col-xl-2 col-md-3 order-md-4 order-2">
                    <div class="footer-item social-menu">
                        <h6 class="footer-item__title">Follow Us</h6>
                        <ul class="social-list">
                            <li class="social-list__item flex-align">
                                <a class="social-list__link flex-center footer-menu__link" target="_blank" href="https://facebook.com/">
                                    <img class="social-item__icon" src="assets/images/frontend/footer/650ab70f4107d1695201039.png" alt="social media" />
                                    <span class="text"> Facebook </span>
                                </a>
                            </li>
                            <li class="social-list__item flex-align">
                                <a class="social-list__link flex-center footer-menu__link" target="_blank" href="https://instagram.com/">
                                    <img class="social-item__icon" src="assets/images/frontend/footer/650ab73985d211695201081.png" alt="social media" />
                                    <span class="text"> Instagram </span>
                                </a>
                            </li>
                            <li class="social-list__item flex-align">
                                <a class="social-list__link flex-center footer-menu__link" target="_blank" href="https://twitter.com/">
                                    <img class="social-item__icon" src="assets/images/frontend/footer/650ab75a65e2a1695201114.png" alt="social media" />
                                    <span class="text"> Twitter </span>
                                </a>
                            </li>
                            <li class="social-list__item flex-align">
                                <a class="social-list__link flex-center footer-menu__link" target="_blank" href="https://discord.com/">
                                    <img class="social-item__icon" src="assets/images/frontend/footer/650ab77980b9c1695201145.png" alt="social media" />
                                    <span class="text"> Discord </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="bottom-footer py-3">
            <div class="d-flex justify-content-between flex-wrap gap-2">
                <p class="bottom-footer-text text-center text-white">
                    Copyright &copy; 2025. All Rights Reserved By <a class="t-link text-white" href="/">emboost</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="assets/global/js/jquery-3.7.1.min.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>
<script src="assets/global/js/bootstrap.bundle.min.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>
<script src="assets/global/js/datepicker.min.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>
<script src="assets/global/js/datepicker.en.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>
<script src="assets/global/js/prism.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>
<script src="assets/templates/trendy/js/viewport.jquery.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>

<script src="assets/templates/trendy/js/slick.min.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>

<script src="assets/templates/trendy/js/main.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>

<link href="assets/global/css/iziToast.min.css" rel="stylesheet">
<link href="assets/global/css/iziToast_custom.css" rel="stylesheet">
<script src="assets/global/js/iziToast.min.js" type="cf70113209c8dec4edcfd0ce-text/javascript"></script>

<script type="cf70113209c8dec4edcfd0ce-text/javascript">
    "use strict";
    const colors = {
        success: '#28c76f',
        error: '#eb2222',
        warning: '#ff9f43',
        info: '#1e9ff2',
    }

    const icons = {
        success: 'fas fa-check-circle',
        error: 'fas fa-times-circle',
        warning: 'fas fa-exclamation-triangle',
        info: 'fas fa-exclamation-circle',
    }

    const notifications = [];
    const errors = [];

    const triggerToaster = (status, message) => {
        iziToast[status]({
            title: status.charAt(0).toUpperCase() + status.slice(1),
            message: message,
            position: "topRight",
            backgroundColor: '#fff',
            icon: icons[status],
            iconColor: colors[status],
            progressBarColor: colors[status],
            titleSize: '1rem',
            messageSize: '1rem',
            titleColor: '#474747',
            messageColor: '#a2a2a2',
            transitionIn: 'obunceInLeft'
        });
    }

    if (notifications.length) {
        notifications.forEach(element => {
            triggerToaster(element[0], element[1]);
        });
    }

    if (errors.length) {
        errors.forEach(error => {
            triggerToaster('error', error);
        });
    }

    function notify(status, message) {
        if (typeof message == 'string') {
            triggerToaster(status, message);
        } else {
            $.each(message, (i, val) => triggerToaster(status, val));
        }
    }
</script>

<script type="cf70113209c8dec4edcfd0ce-text/javascript">
    (function($) {
        ("use strict");

        $(".testimonial-slider").slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 2000,
            speed: 1500,
            dots: true,
            pauseOnHover: true,
            arrows: false,
            prevArrow: '<button type="button" class="slick-prev"><i class="fas fa-long-arrow-alt-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="fas fa-long-arrow-alt-right"></i></button>',
            responsive: [{
                    breakpoint: 1199,
                    settings: {
                        arrows: false,
                        slidesToShow: 2,
                        dots: true,
                    },
                },
                {
                    breakpoint: 991,
                    settings: {
                        arrows: false,
                        slidesToShow: 2,
                    },
                },
                {
                    breakpoint: 560,
                    settings: {
                        arrows: false,
                        slidesToShow: 1,
                    },
                },
            ],
        });

    })(jQuery);
</script>
<script type="cf70113209c8dec4edcfd0ce-text/javascript">
    (function($) {
        "use strict";

        $(document).on('submit', '.call-to-action-form', function(e) {
            e.preventDefault();
            var email = $('[name="email"]').val();
            if (!email) {
                notify('error', 'Email field is required');
            } else {
                $.ajax({
                    headers: {
                        "X-CSRF-TOKEN": "rv5z6kn345qhrB57k3ss98Cg6GjsigA1D1d4ik7B",
                    },
                    url: "https://www.slab.ng/subscribe",
                    method: "POST",
                    data: {
                        email: email
                    },
                    success: function(response) {
                        if (response.success) {
                            notify('success', response.message);
                        } else {
                            notify('error', response.error);
                        }
                        $('input[name="email"]').val('');
                    }
                });
            }

        });

    })(jQuery);
</script>

<script type="cf70113209c8dec4edcfd0ce-text/javascript">
    (function($) {
        "use strict";
        $(".langSel").on("change", function() {
            window.location.href = "https://www.slab.ng/change/" + $(this).val();
        });

        $('.policy').on('click', function() {
            $.get('cookie/accept.html', function(response) {
                $('.cookies-card').addClass('d-none');
            });
        });

        setTimeout(function() {
            $('.cookies-card').removeClass('hide')
        }, 2000);

        var inputElements = $('[type=text],select,textarea');
        $.each(inputElements, function(index, element) {
            element = $(element);
            element.closest('.form-group').find('label').attr('for', element.attr('name'));
            element.attr('id', element.attr('name'))
        });

        $.each($('input, select, textarea'), function(i, element) {
            var elementType = $(element);
            if (elementType.attr('type') != 'checkbox') {
                if (element.hasAttribute('required')) {
                    $(element).closest('.form-group').find('label').addClass('required');
                }
            }
        });

        Array.from(document.querySelectorAll('table')).forEach(table => {
            let heading = table.querySelectorAll('thead tr th');
            Array.from(table.querySelectorAll('tbody tr')).forEach((row) => {
                Array.from(row.querySelectorAll('td')).forEach((colum, i) => {
                    colum.setAttribute('data-label', heading[i].innerText)
                });
            });
        });

    })(jQuery);
</script>

<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="cf70113209c8dec4edcfd0ce-|49" defer></script>
</body>

<!-- Mirrored from www.slab.ng/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Mar 2025 23:25:29 GMT -->
</html>